@import "tailwindcss";
html {
  scroll-behavior: smooth !important;
}

body {
  @apply bg-background1 text-text-main1;
  overflow-x: hidden;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary1: #3ec170;
  --color-secondary1: #252370;
  --color-accent1: #b078d3;
  --color-background1: #040b07;
  --color-text-main1: #ecf8f2;
  
  /* Rest of your @theme variables... */
}